.ledger-classification {
  .ant-table-thead {
    .ant-table-cell {
      background-color: #fff !important;
    }
  }

  .ant-table-cell {
    .ant-tag {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  &-remove {
    color: #ff4d4f !important;
    cursor: pointer;
  }
}