@import '../../styles/theme.less';

.ledger-title-bar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @color-primary;
  position: relative;

  &__main {
    display: flex;
    align-items: center;
  }

  &__icon {
  }

  &__operator {
    position: absolute;
    right: 14px;
    display: flex;

    &-icon {
      color: rgba(255, 255, 255, 0.8) !important;
      font-size: 14px;
      margin: 0 2px;
    }
  }
}